
<div class="row text-center">
	<div class="col-md-12">
		<h3>
			Below are examples of the visualisation primitives available so 
			far, with sample code.
		</h3>
	</div>
</div>


<!-- sample graphs -->
<div class="row text-center big_space_top">
	<div class="col-md-12">
		<h2>Bar Charts</h2>

		<div class="row text-center">
			<div class="col-md-6">
				<h3>Basic</h3>

				<bar-chart data="barBasicData"></bar-chart>

				<!-- source collapsable -->
				<div class="medium_space_top">
					<a href="#collapse1" class="accordion-toggle" data-toggle="collapse">Sample source</a>
					<div id="collapse1" class="collapse">Dis is da text</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3>Grouped</h3>

				<!-- source collapsable -->
				<div class="medium_space_top">
					<a href="#collapse2" class="accordion-toggle" data-toggle="collapse">Sample source</a>
					<div id="collapse2" class="collapse">Dis is da text</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-6">
				<h3>Stacked</h3>

				<!-- source collapsable -->
				<div class="medium_space_top">
					<a href="#collapse3" class="accordion-toggle" data-toggle="collapse">Sample source</a>
					<div id="collapse3" class="collapse">Dis is da text</div>
				</div>
			</div>
			<div class="col-md-6">
				<h3>Vertical</h3>

				<!-- source collapsable -->
				<div class="medium_space_top">
					<a href="#collapse4" class="accordion-toggle" data-toggle="collapse">Sample source</a>
					<div id="collapse4" class="collapse">Dis is da text</div>
				</div>
			</div>
		</div>
	</div>
</div>